
body{
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
   
}

header{
    color: #0a043c ;
    background-color: #ffe3de;
    height: 110px;
   margin-top: 10px;
}

header nav{
    float: right;
    width: 30%;
    margin-top: 40px;
}

header h1{
    float: left; 
    margin-left: 40px;
}

header nav ul li{
    display: inline-block;
    margin-left: 5%;
    
 

}
header nav ul li a{
    color: #0a043c;
    text-decoration: none;
    font-weight: 800;
}

#first{
    background-color: #ffffff;
    width: 70%;
    height: 300px;
    text-align: center;
    margin: 30px 0 30px 15%;
}

#first h3{
    font-size: 40px;
    padding-top: 30px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(255, 255, 255) 100%, rgba(231,224,223,1) 100%, rgba(0,212,255,1) 100%); ;
}
#first p{
    font-size: 20px;
    color: #ffffff ;
}

#second{
    background: rgb(2,0,36);

    margin-bottom: 30px;
}


.image-container{
    text-align: center;
    display: inline-block;
    height: 450px;
    width: 30%;
    margin-left: 30px;
}
.image-container img{
    margin-bottom: 20px;
    height: 60%;
}


#third{
    background-color: #ffe3de;
    margin-bottom: 850px;
}
#third div{
    margin-left: 60px;
}

#third div img{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}




footer{
    height: 100px;
    color:#0a043c; 
    background-color:#ffe3de;
}

footer p{
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-weight: 800;
}